pipeline/Execute Run Job DLT.json
{
	"name": "Execute Run Job DLT",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Register Source",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Run Job DLT",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"jobId": {
							"value": "@activity('Register Source').output.runOutput.hello",
							"type": "Expression"
						},
						"DatabricksWorkspaceID": "adb-984752964297111.11",
						"WaitSeconds": 30
					}
				}
			},
			{
				"name": "Register Source",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Register Source",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-01-24T12:54:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}