pipeline/Register Source.json
{
	"name": "Register Source",
	"properties": {
		"activities": [
			{
				"name": "Register Source",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kiran.sreekumar@databricks.com/hei/dlt_api",
					"baseParameters": {
						"configlocation": "/dbfs/FileStore/kiran/metadataecc14.yaml",
						"system": "ecctest",
						"pool": "1207-120054-bean4-pool-eoo0gntr"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Register Source",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Register Source').output.runOutput. job_id",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}